<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="MainCtrl">
    MainCtrl:
    <input type="text" ng-model="text" />{{ updated }} times updated.
    <button ng-click="stop()">stop count</button>
</div>



<script src="../js/angular-1.4.7.js"></script>
<script>

    'use strict';
    var app = angular.module('app',[]);

    app.controller("MainCtrl",function($scope){
        $scope.updated = 0;
        $scope.stop = function(){
            textWatch();
        };

        //当我们不再需要watch改变的时候，我们可以easy的调用这个函数释放$watch
        var textWatch = $scope.$watch('text',function(newVal,oldVal){
            if(newVal === oldVal){
                return;
            }
            $scope.updated++;
        });
    });





</script>
</body>
</html>