<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<div ng-controller="firstController">
    <form action="">
        <input type="text" ng-model="search.id"/>
        <!--<input type="text" ng-model="search"/>-->
    </form>
    <table>
        <tr>
            <th width="20%">产品编号</th>
            <th width="20%">产品名称</th>
            <th width="20%">产品价格</th>
        </tr>
        <!--<tr ng-repeat="product in productData | filter:{id:search}">-->
        <tr ng-repeat="product in productData | filter:search">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency:'(RMB)' }}</td>
        </tr>
    </table>
</div>

<script src="../js/angular-1.4.7.js"></script>
<script>

    /*

    */

    'use strict';

    var app = angular.module("app",[]);
    app.service('productData',function(){
        return [
            {id:333,name:'iphone',price:5400},
            {id:980,name:'idpad',price:3420},
            {id:885,name:'imac',price:15400},
            {id:1245,name:'ipad air',price:2340},
            {id:5345,name:'ipad mini',price:2200}
        ]
    });
    app.controller("firstController",['$scope','productData','$filter',function($scope,productData,$filter){
        $scope.productData = productData;





    }]);


</script>
</body>
</html>